name: build

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+*'

jobs:
  export:
    permissions: write-all
    runs-on: ubuntu-latest
    name: Monologue export
    steps:
      - name: Checkout
        uses: actions/checkout@v3.3.0
      
      - name: Install wine
        id: wine_install
        run: |
          sudo apt-get update
          sudo apt install wine64
          echo "WINE_PATH=$(which wine64)" >> $GITHUB_OUTPUT
      
      - name: Export game
        id: export
        uses: firebelley/godot-export@v5.1.0
        with:
          godot_executable_download_url: https://downloads.tuxfamily.org/godotengine/4.0/Godot_v4.0-stable_linux.x86_64.zip
          godot_export_templates_download_url: https://downloads.tuxfamily.org/godotengine/4.0/Godot_v4.0-stable_export_templates.tpz
          relative_project_path: ./
          relative_export_path: ./builds/
          wine_path: ${{ steps.wine_install.outputs.WINE_PATH }}
      
      - name: Create release
        uses: ncipollo/release-action@v1.13.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          generateReleaseNotes: true
          name: Monologue ${{ github.ref_name }}
          tag: ${{ github.ref_name }}
          artifacts: ${{ steps.export.outputs.build_directory }}/**/*
          replacesArtifacts: true
          prerelease: ${{ contains(fromJSON('["dev", "pre", "alpha", "beta", "rc"]'), github.event_name) }}

      - name: Upload Artifact for publish
        uses: actions/upload-artifact@v4
        with:
          name: build
          path: ${{ steps.export.outputs.build_directory }}
        
  itchio-deploy:
    needs: export
    runs-on: ubuntu-latest

    steps:
      - uses: actions/download-artifact@v4
        with:
          name: build
          path: build/

      - name: Deploy on itch.io
        uses: Ayowel/butler-to-itch@v1.0.0
        with:
          butler_key: ${{ secrets.BUTLER_CREDENTIALS }}
          itch_game: monologue
          itch_user: atomic-junky
          auto_channel: true
          files: build/monologue-*